:root {
  font-family: "SF Pro", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #101828;
  background-color: #f5f7fb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --super-light-grey: #f5f5f5;
  --red: #e93838;
  --dark: #19181d;
  --grey: #8c8a91;
  --white: #fff;
  --super-light-dark: #232226;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: inherit;
}

#root {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
